#form_email, #form_password, #form_name, #form_confirm{
    position: relative;
}

#form_password.valid:before, #form_email.valid:before, #form_name.valid:before, #form_confirm.valid:before{
    content: '';
    position: absolute;
    right: 12px;
    top: 39px;
    width: 24px;
    height: 24px;
    background: url(valid.png);
    background-size: cover;
    z-index: 1000;
}

#form_password.invalid:before, #form_email.invalid:before, #form_name.invalid:before, #form_confirm.invalid:before{
    content: '';
    position: absolute;
    right: 12px;
    top: 39px;
    width: 24px;
    height: 24px;
    background: url(invalid.png);
    background-size: cover;
    z-index: 1000;
}

.btn.btn-primary.btn-lg.btn-block{
    background-color: #f35d02;
    border-color: #f35d02;
}

.btn.btn-primary.btn-lg.btn-block:hover{
    background-color: #ffffff;
    border-color: #f35d02;
    color: #f35d02;
}

a{
    color: #f35d02;
}

.center {
    margin: auto;
    width: 65%;
    border: 3px solid #154f48;
    padding: 5px;
  }




